
  ul {
    list-style: none;
  }
  header {
    display: grid;
    justify-content: space-between;
    width: 100%;
  }
  header ul {
    position: relative; left:1590px;
    display: flex;
    font-size: 20px;
  }
  header ul li {
    margin-top: 0.9rem;
    margin-right: 1.1rem;
  }
  
  .header-advanced {
    background: #f2f2f2;
  }
  .header-advanced .header-logo {
    width: 100px;
    padding: 1rem;
  }
  .header-advanced li {
    margin-top: 0.5rem;
  }
  
  .advanced-main__heading {
    border-bottom: 1px solid #f2f2f2;
    padding: 0.5rem 2.5rem;
    color: #d93025;
    font-size: 20px;
    font-weight: 400;
  }

  }
  .advanced-main__body {
    width: 70%;
    padding: 0.5rem 2.5rem;
  }
  .advanced-main__body-form-fields {
    width: 60%;
    padding-right: 1rem;
  }
  .advanced-main__body-form-fields div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
  }
  .advanced-main__body label {
    font-size: 13px;
  }
  .advanced-main__body input,
  .advanced-main__body select {
    border: 1px solid #e4e4e4;
    border-radius: 0;
    padding: 0.4rem 0.6rem;
    display: inline-block;
    max-width: 90vw;
  }
  .advanced-main__body input {
    width: 70%;
  }
  .advanced-main__body input:focus {
    outline: 1px solid #4285f4;
  }
  .advanced-main__body select {
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    width: 73%;
  }
  .advanced-main__body select:focus {
    outline: none;
  }
  .advanced-main__body #nr-to,
  .advanced-main__body #nr-from {
    width: 200px;
  }
  .advanced-main__body p {
    font-size: 11px;
    line-height: 2.9;
  }
  .advanced-main__body .second-tips {
    margin-top: 3.2rem;
  }
  .advanced-main__body a {
    font-size: 13px;
  }
  .advanced-main__body button {
    background: #4285f4;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 12px;
    float: right;
    margin: 0.5rem 0 1.8rem 0;
    cursor: pointer;
  }
  .advanced-main__body button:focus {
    outline: none;
  }
  .advanced-main__info {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
  }
  .advanced-main__body-form-upper, .advanced-main__body-form-down {
    border-bottom: 1px solid #f2f2f2;
    display: flex;
  }
  
  @media only screen and (max-width: 1200px) {
    .advanced-main__body {
      width: 100%;
    }
    .advanced-main__body select {
      width: 64%;
    }
    .advanced-main__body input {
      width: 60%;
    }
    .advanced-main__body #nr-to,
  .advanced-main__body #nr-from {
      width: 100px;
    }
  }
  @media only screen and (max-width: 600px) {
    header {
      justify-content: flex-end;
    }
    header .header-info {
      display: none;
    }
  
    .form-search {
      width: 280px !important;
    }
  
    .logo img {
      width: 200px;
    }
    .logo span {
      position: absolute;
      color: #4285f4;
      bottom: 30px;
      right: -10px;
    }
  
    .btn-search {
      font-size: 14px !important;
      padding: 0.5rem 1rem !important;
    }
  

    .advanced-main__body, .advanced-main__heading {
      padding: 1rem;
    }
    .advanced-main__body-form-fields, .advanced-main__heading-form-fields {
      width: 100%;
      padding-right: 0;
    }
    .advanced-main__body-tips, .advanced-main__heading-tips {
      display: none;
    }
  }
  
  